<!DOCTYPE HTML>
{% load static %}
<HTML>
    <HEAD>
        <TITLE>iMAGE dEMO</TITLE>
        <link rel="stylesheet" href="{% static 'css/home.css' %}"/> 
    <HEAD>
    <BODY>
        
        <div class="header">
            Google Search Analysis
        </div>
        
        <div class="form">
            <table>
                <form action="result" >
                    Enter Your Search : <input type='text' name = 'search'><br>
                    <input type='submit'>
                </form>

            </table>
        </div>


    </BODY>
</HTML>